/* LORA FONT */

@font-face {
    font-family: LTWave;
    font-weight: 100;
    src: url("./assets/fonts/LTWave-Thin.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: LTWave;
    font-weight: 300;
    src: url("./assets/fonts/LTWave-Light.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: LTWave;
    font-weight: 400;
    src: url("./assets/fonts/LTWave-Regular.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: LTWave;
    font-weight: 500;
    src: url("./assets/fonts/LTWave-Medium.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: LTWave;
    font-weight: 800;
    src: url("./assets/fonts/LTWave-Bold.otf") format("opentype");
    font-display: swap;
}



