@use "mixins.scss";
@use "utils.scss" as utils;

:root {
    --radio-width: 18px;
    --radio-outline-width: 5px;
    --radio-label-font-size: 20px;
    --checkbox-label-font-size: 20px;
    --radio-gap: 10px;
    --ui-range-height: 88px;
    --ui-range-output-font-size: 16px;
    --ui-range-thumb-width: 24px;

    @media only screen and (max-width: utils.$desktop-medium) {
        --radio-width: 12px;
        --radio-outline-width: 6px;
        --radio-label-font-size: 18px;
        --radio-gap: 11px;
        --ui-range-height: 78px;
        --ui-range-thumb-width: 22px;
    }

    @media only screen and (max-width: utils.$tablet) {
        --radio-label-font-size: 14px;
        --radio-gap: 7px;
        --checkbox-label-font-size: 16px;
        --ui-range-height: 70px;
        --ui-range-output-font-size: 12px;
        --ui-range-thumb-width: 16px;
    }

    @media only screen and (max-width: utils.$mobile) {
        outline-width: 5px;
        --radio-label-font-size: 12px;
        --checkbox-label-font-size: 12px;
        --radio-gap: 5px;
        --ui-range-height: 62px;
        --ui-range-thumb-width: 14px;
    }
}

input[type="text"],
input[type="tel"],
input[type="date"],
textarea {
    outline: none;
    @include mixins.text(20px, 1.2, 300, #231f1f);
    width: 100%;
    padding: 8px 11px;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    background-color: transparent;
    outline-color: #231f1f;

    &:focus,
    &:active,
    &:focus-visible {
        border-color: #231f1f;
    }

    &::placeholder {
        @include mixins.text(20px, 1.2, 300, #a7a7a7);
    }

    @media only screen and (max-width: utils.$desktop-medium) {
        &,
        &::placeholder {
            font-size: 16px;
        }

        padding: 5px 11px;
    }
}

.ui-control {
    position: relative;

    &--required.error {
        input {
            border-color: red;
        }
        &:after {
            content: "Поле обязательно для заполнения";
            position: absolute;
            bottom: -14px;
            left: 0;
            color: red;
            @include mixins.text(12px, 1, 400, red);

            @media only screen and (max-width: utils.$desktop-medium) {
                bottom: -13px;
            }
            @media only screen and (max-width: utils.$tablet) {
                position: static;
            }
        }
    }
}
input[type="date"] {
    min-height: 35px;
}

textarea {
    resize: none;
    padding: 12px 10px;

    &,
    &::placeholder {
        font-size: 19px;
    }
    @media only screen and (max-width: utils.$desktop-medium) {
        padding: 9px 12px;
        &,
        &::placeholder {
            font-size: 14px;
        }
    }
}

.form-row {
    display: flex;
    align-items: center;
}

.radio,
.checkbox {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--radio-gap) + var(--radio-outline-width));

    &-label {
        @include mixins.text(var(--radio-label-font-size), 1.2, 300, #231f1f);
        user-select: none;
    }
}

.checkbox {
    gap: 20px;

    &-label {
        @include mixins.text(var(--checkbox-label-font-size), 1.2, 300, #231f1f);
        user-select: none;
    }
}

input[type="radio"] {
    width: var(--radio-width);
    height: var(--radio-width);

    appearance: none;
    position: relative;
    border-radius: 50%;
    outline: var(--radio-outline-width) solid #0000ff;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &::after {
        content: "";
        display: block;
        background-color: #0000ff;
        width: calc(var(--radio-width) + 1px);
        height: calc(var(--radio-width) + 1px);
    }

    &:checked {
        &::after {
            width: 0;
            height: 0;
        }
    }
}

input[type="checkbox"] {
    accent-color: #0000ff;
    width: 25px;
    height: 25px;
    appearance: none;
    border: 2px solid #0000ff;
    background-color: #d9d9d9;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-image: url("./../assets/img/checkbox.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    &:checked::after {
        width: 16px;
        height: 12px;
    }

    &:disabled {
        opacity: 0.3;
    }

    @media only screen and (max-width: utils.$mobile) {
        width: 18px;
        height: 18px;
        gap: 22px;

        &:checked::after {
            width: 12px;
            height: 9px;
        }
    }
}

.ui-range {
    height: var(--ui-range-height);
    position: relative;
    display: grid;
    width: 100%;
}

.range-label {
    margin-block-end: 50px;
    font-size: 24px;
    font-weight: 500;
}

.range-input {
    width: 100%;
    height: 24px;
    border-radius: 50%;
    appearance: none;
    background: none;
    margin-top: -15px;
    cursor: pointer;

    @media only screen and (max-width: utils.$desktop-medium) {
        height: 22px;
        margin-top: -14px;
    }

    @media only screen and (max-width: utils.$tablet) {
        height: 18px;
        margin-top: -15px;
    }

    @media only screen and (max-width: utils.$mobile) {
        height: 16px;
        margin-top: -12px;
    }
}

.range-input::-webkit-slider-thumb {
    top: 18px;
    -webkit-appearance: none;
    width: var(--ui-range-thumb-width);
    height: var(--ui-range-thumb-width);
    border: none;
    border-radius: 50%;
    background-color: #ededed;
    box-shadow: 0 0 0 2px inset #d9d9d9;
    z-index: 1000;
}

.range-input::-moz-range-thumb {
    margin-top: 10px;
    width: var(--ui-range-thumb-width);
    height: var(--ui-range-thumb-width);
    border: none;
    border-radius: 50%;
    background-color: #ededed;
    box-shadow: 0 0 0 2px inset #d9d9d9;
    transition: 300ms;
}

.track {
    margin-top: 54px;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: #d9d9d9;

    @media only screen and (max-width: utils.$desktop-medium) {
        height: 4px;
        margin-top: 44px;
    }

    @media only screen and (max-width: utils.$tablet) {
        margin-top: 34px;
    }

    @media only screen and (max-width: utils.$mobile) {
        margin-top: 28px;
    }
}

.range-output {
    white-space: nowrap;
    position: absolute;
    top: 2px;
    left: calc(var(--offset-x));
    padding: 8px 16px;
    background: transparent;
    border-radius: 50px;
    @include mixins.text(var(--ui-range-output-font-size), 1, 300, black);

    user-select: none;
    transition: 100ms;
    background-color: #ffffff;

    @media only screen and (max-width: utils.$desktop-medium) {
        padding: 6px;
    }

    @media only screen and (max-width: utils.$tablet) {
        padding: 5px 4px;
    }
    @media only screen and (max-width: utils.$mobile) {
        padding: 3px 6px;
    }
}

.tickmarks {
    width: 99%;
    padding-top: 2px;
    padding-left: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-option,
    option {
        @include mixins.text(16px, 1, 300, rgba(0, 0, 0, 0.4));
        position: relative;
        padding: 0;
        width: 12px;
    }
}
